{
  globals: {
    // Google Apps Script
    PropertiesService: true,
    UrlFetchApp: true,
    Utilities: true,

    // Test Library
    GasTap: true,

    // Our classes
    Kintone: true,
    KintoneClient: true,
    Obj: true,
    Response: true,
    ResponseError: true,
    TestCommon: true,

    // test function
    testRunner: true,
  },
  extends: 'airbnb-es5',
}
